.genre {
    border: 2px solid #333;
    border-radius: 10px;
    margin: 16px;
    padding: 16px;
}

.genreTitle {
    color: #cc2a36;
    font-size: 2rem;
    margin: 0;
    text-transform: capitalize;
}