.movie {
    background: #dddddd;
    border: 4px solid #00a0b0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    text-align: center;
}

.movieTitle {
    color: #343436;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.6rem;
    margin: 0;
}

.movieGenre {
    color: #343436;
    font-size: 1.6rem;
    margin: 0;
}

.movieDescription {
    color: #343436;
    font-size: 1.4rem;
}

.movieImage {
    height: auto;
    width: 100%;
}